{% extends 'base.htm' %}

{% block content %}
<div class="container">
    {% if edit_mode %}
    <h1 class="text-center text-capitalize">edit the 
    {% else %}
    <h1 class="text-center text-capitalize">add a new 
    {% endif %}
    choice using form below</h1>
    <div class="col-sm-6 offset-sm-3">
            <div class="row">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.errors }}  
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.errors}}
                                {{ field.label_tag }}
                                {{ field}}
                            </div>
                        {% endfor %}
                        <input type="submit" value="Submit" class="btn btn-primary">
                        {% if edit_mode %}
                            <a href="{% url 'polls:choice_confirm_delete' choice.id %}" 
                                    class="btn btn-danger"
                            ><i class="fas fa-trash-alt"></i>Delete</a>
                        {% endif %}
                </div>        
    </div>
    
</div>

{% endblock %}